<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thanhuhiha.instagram">
    <!-- INTENET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ui.InstagramApp">
        <activity android:name=".ui.notifications.NotificationsActivity"></activity>
        <activity android:name=".ui.comment.CommentsActivity" />
<!--        <activity android:name=".ui.ProfileImageActivity" />-->
        <activity
            android:name=".ui.register.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.editprofile.EditProfileActivity" />
        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".ui.home.MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.share.ShareActivity" />
        <activity android:name=".ui.profilesetting.ProfileSettingActivity" />
        <activity android:name=".ui.addfriends.AddFriendActivity" /> <!-- android:name="android.support.v4.content.FileProvider" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>